.btn-open-container {
  position: absolute;
  translate: 80px 120px;
}
.btn-clouse-container {
  position: absolute;
  translate: 90px 120px;
}

.btn-open {
  position: relative;
  background-color: transparent;
  border: none;
  scale: 2;
  visibility: visible;
  opacity: 1;
  display: block;
  cursor: pointer;
  transition: visibility 2000ms ease-in-out, scale 2000ms ease-in-out,
    opacity 2000ms ease-in-out;
  &__icon-blob {
    position: absolute;
  }
  &__icon-menu {
    position: absolute;
    translate: 29px 23px;
  }
}
.btn-clouse {
  @extend .btn-open;
  &__icon-blob {
    position: absolute;
  }
  &__icon-menu {
    position: absolute;
    translate: 27px 24px;
  }
}
.icon-second-blob {
  fill: aqua;
}
.icon-first-blob {
  @extend .icon-second-blob;
  rotate: -60deg;
}

.btn-open .icon-open-menu {
  fill: rgb(0, 0, 46);

  transition: fill 300ms ease-in-out;
  &:hover,
  &:focus {
    fill: rgb(0, 0, 175);
  }
}
.btn-clouse .icon-clouse-menu {
  fill: rgb(0, 0, 46);

  transition: fill 300ms ease-in-out;
  &:hover,
  &:focus {
    fill: rgb(0, 0, 175);
  }
}

.is-hidden {
  scale: 0;
  visibility: hidden;
  opacity: 0;
}
